################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/database/authentification.js
firebase-debug.log
public/firebase-debug.log
