body {
    height: 100%;
}

#contentContainer {
    height: 100%;
}

#content {
    padding: 10px; /*May be overridden*/
}

.listTable {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
    margin-bottom: 7px;
    background-color: white;
}

.listTable tr {
    height: 50px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.listTable tr:hover {
    background-color: rgb(245,245,245);
}

.listTable tr td {
    padding: 10px;
}

.listTable-groupRow, .listTable-groupRow:hover{
    font-weight: bold;
    background-color: rgb(238,238,238) !important;
    height: 40px !important;
}

.floatingButton{
    position:fixed;
    right:30px;
    bottom:30px;
}


.mdl-data-table {
    white-space: normal !important;
} 

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    height: 55px;
    margin-top: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion-selected, .accordion:active {
    background-color: #ccc; 
}



.panel {
    padding: 5px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel-visible {
    display: block;
    background-color: #FCFcFc;
    box-shadow: #444
}

.crm-mdl-select-list{
    max-height: 200px;
    overflow: scroll;
}